//- extends layout

//- block content
//-     a(href="/books") books-list 
//-     br
//-     a(href="/authors") authors-list
//-     br
//-     a(href="/users") users-list
//-     br
//-     br
//-     p avatars-list:

//-     each avatar in avatars
//-         img(src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>")