extends layout

block content

    if currentuser 
        p Hello, #{currentuser.name} !
        <a href="/users/auth">Log Out</a>
    else 
        p You are not registered
        <a href="/users/auth">Log In to your account</a>
        br
        <a href="/users/reg">Don't have an account?</a>
    
    br
    br

    a(href="/users") users-list
    br
    a(href="/authors") authors-list
    br
    br
    p books-list:

    
    if currentuser 
        p <a href=/books/add> Add book </a>
        p <a href=/books/find> Find book </a>

    each book in books
        p name: <a href=/books/#{book.id}> !{book.name} </a>
        