extends layout

block content
    form(action="/users/", method="post") 
        p Enter your name: 
        <input type="text" name = "name">
        br
        p Enter your email: 
        <input type="email" name = "email">
        br
        p Enter your password: 
        <input type="password" name = "password">
        br
        p Repeat your password: 
        <input type="password" name = "reppas">
        br
        br
        button(type="submit" value="save") Sign Up
        br 
        br
        
    <a href="/users/auth/"> Have an account? </a>
    br
    <a href="/users"> Continue without registration </a>